#chatbox
{
    text-align: center;
}
#chatboxcenter
{
    text-align: center;
    background-color: blanchedalmond;
    background-repeat: repeat-y;
    padding: 5%;
}
#layoutwrapper
{
    margin-left: 10%;
    margin-right: 10%;
}
#keepsize
{
    width: 70%;
    max-width: 70%;
    border-style: ridge;
    background-image: url("../images/cardBackground.jpg");
    background-size: cover;
}
.layoutleft
{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border-right: 2%;
}
.layoutright
{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border-left: 2%;
}
.mainchat
{
    color: black;
}

.mymainchat
{
    color: white;
}
