<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'formatting.css')}}"></link>
  <meta charset="utf-8">
  <title>Password Generation</title>
</head>
<body>
    <input type="button" value="Password Generator" onclick="generateRandomNumber()">
    <br>
    <h1><span id=result></span></h1>
    <br>
    <input type="button" value ="test" onclick="passwordValidationTesting()">
    <input type="text" id="validationTest">
    <br>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/passwordjquery.js"></script>
</body>
</html>